<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/NhatAnh/Desktop/IdeaProjects/bookstore">
        <classes>
            <class name="integrationTest.UserTest"></class>
            <class name="unitTest.UserTest"></class>
        </classes>
    </test>
</suite>